.DS_Store
*/__pycache__/
**/__pycache__/
**/__pycache__.py 
__init__.py 

results/
logs/
outputs/
dataset/
.claude/

# data
*.mkv
*.mp4
*.csv
*.json

# may be removed later
scripts/

# should be delated later
*/old/
CLAUDE.md
TODO.md
